@page
@model AuthorModel
@{
    ViewData["Title"] = "Author info";
}
<h1>@ViewData["Title"]</h1>

<p>Created by: Hernán Hernández (herohernan) </p>
<p> This solution was created for Rockwell automation like part of the hiring process </p>
